.background {
	bottom: 96px;
	background-size: cover;
	position: absolute;
	width: 110%;
	left: -5%;
	top: -5%;
}

.parallax-window {
    min-height: 889px;
}

.we_will {
	width: 35%;
	margin-top: 10%;
	margin-right: 25%;
}

.bambam {
	position: absolute;
	width: 450px;
	height: 352px;
	top: 110px;
	left: 360px;
}

.ice {
	margin: 17% 55% 0 0;
}

.guitar {
    margin-top: -5%;
    margin-left: 93%;
}

.bag {
    margin-top: 98%;
    margin-left: -80%;
}

.shampoo {
    margin-left: 885%;
    margin-top: 273%;
}

.box_w {
    margin-left: 500%;
    margin-top: 110%;
    z-index: 4;
}

.dozator {
    margin-left: 41%;
    margin-top: 0;
}

.lamp {
    margin-left: -100%;
    margin-top: -169%;
}

.lamp2 {
    width: 80%;
    margin-left: 73%;
    margin-top: -261%;
}

.lamp3 {
    margin-left: 373%;
    margin-top: -240%;
}

.lamp4 {
    width: 90%;
    margin-left: 600%;
     margin-top: -184%;
}

.no_name_object {
	width: 100%;
    margin-left: 993%;
    margin-top: -12%;
    z-index: 1;
}

.syntesator {
    margin-left: 370%;
    margin-top: -18%;
}

.wand_left {
	width: 40%;
	margin-left: 265%;
	margin-top: 26%;
}

.wand_right {
	width: 40%;
	margin-left: 307%;
	margin-top: 40%;
}

.worm_left {
	margin-top: -730%;
	margin-left: 444%;
}

.worm_right {
	margin-left: 920%;
	margin-top: -322%;
}

.metal {
	width: 170%;
	margin-left: -34%;
	margin-top: 46%;
}

.worms_stage {
	margin-left: -34%;
	margin-top: 20%;
}

@media screen and (max-width:1300px) {
	.syntesator {
		width: 90%;
		margin-left: 384%;
		margin-top: -20%;
	}
}

@media screen and (max-width:1200px) {
	.syntesator {
		width: 80%;
		margin-left: 345%;
		margin-top: -25%;
	}
	.box_w {
		width: 80%;
		margin-left: 465%;
		margin-top: 120%;
		z-index: 4;
	}
	.bag {
		width: 90%;
		margin-top: 88%;
		margin-left: -35%;
	}
	.ice {
		width: 18%;
		margin: 27% 44% 0 0;
	}
	.guitar {
		width: 95%;
		margin-top: 5%;
		margin-left: 78%;
	}
	.bag {
		width: 85%;
		margin-top: 117%;
		margin-left: -60%;
	}
	.lamp4 {
		width: 72%;
		margin-left: 309%;
		margin-top: -160%;
	}
	.shampoo {
		width: 70%;
		margin-left: 885%;
		margin-top: 222%;
	}
	.dozator {
		width: 85%;
		margin-left: 50%;
		margin-top: 0%;
	}
	.no_name_object {
		width: 75%;
		margin-left: 850%;
		margin-top: -24%;
		z-index: 1;
	}
	.worm_left {
		margin-top: -570%;
		margin-left: 394%;
	}
	.metal {
		width: 170%;
		margin-left: -34%;
		margin-top: 52%;
	}
	.parallax-window {
		min-height: 790px;
	}
}

@media screen and (max-width:980px) and (min-width:800px) {
	.we_will {
		width: 40%;
		margin: 65px auto;
	}
	.bambam {
		position: static;
		width: 60%;
		height: 60%;
		margin: 0 auto;
	}
	.ice {
		margin: 10% 80% 0 0;
	}
	.guitar {
		margin-top: -27%;
		margin-left: -49%;
	}
	.shampoo {
		margin-left: 350%;
		margin-top: 50%;
	}
	.box_w {
		display: none;
	}
	.dozator {
		display: none;
	}
	.lamp4 {
		display: none;
	}
	.no_name_object {
		width: 40%;
		margin-left: 310%;
		margin-top: -120%;
	}
	.syntesator {
		margin-left: 143%;
	}
	.wand_left {
		position: static;
		width: 35%;
		margin-left: 155%;
		margin-top: -25%;
	}
	.wand_right {
		position: static;
		margin-left: 200%;
		margin-top: -10%;
	}
	.worm_left {
		display: none;
	}
	.worm_right {
		display: none;
	}
	.parallax-window {
		min-height: 600px!important;
	}
	.metal {
		display: none;
	}
}

@media screen and (max-width:799px) and (min-width:480px) {
	.we_will {
		width: 50%;
		margin: 65px auto;
	}
	.bambam {
        position: static;
        width: 90%;
        height: 90%;
        margin: 0 auto;
	}
	.ice {
		position: absolute;
        margin: 55% 0 0 -45%;
	}
	.guitar {
		width: 28%;
		margin-top: -12%;
		margin-left: -30%;
	}
	.bag {
		width: 19%;
		margin-top: 13%;
		margin-left: -63%;
	}
	.shampoo {
		display: none;
	}
	.box_w {
		width: 18%;
		margin-left: 80%;
		margin-top: 8%;
		z-index: 4;
	}
	.dozator {
		display: none;
	}
	.lamp {
		position: static;
		width: 35%;
		margin-left: -62%;
		margin-top: -120%;
	}
	.lamp2 {
		position: static;
		width: 40%;
		margin-left: 155%;
		margin-top: -162%;
	}
	.lamp3 {
		display: none;
	}
	.lamp4 {
		display: none;
	}
	.no_name_object {
		display: none;
	}
	.syntesator {
		width: 18%;
		margin-left: 84%;
		margin-top: -27%;
	}
	.wand_left {
		position: static;
		width: 25%;
		margin-left: 15%;
		margin-top: -25%;
	}
	.wand_right {
		position: static;
		width: 25%;
		margin-left: 70%;
		margin-top: -10%;
	}
	.worm_left {
		display: none;
	}
	.worm_right {
		display: none;
	}
	.parallax-window {
		min-height: 600px!important
	}
	.metal {
		display: none;
	}
	.worms_stage {
		display: none;
	}
}

@media screen and (max-width:479px) and (min-width:360px) {
	.we_will {
		width: 70%;
		margin: 65px auto;
	}
	.bambam {
		position: static;
		width: 90%;
		height: 90%;
		margin: 0 auto;
	}
	.ice {
        width: 21%;
        margin: 85% 9% 0 0;
	}
	.guitar {
        width: 45%;
        margin-top: -27%;
        margin-left: -29%;
	}
	.bag {
		display: none;
	}
	.shampoo {
        width: 51%;
        margin-left: 255%;
        margin-top: 227%;
	}
	.box_w {
		display: none;
	}
	.dozator {
        width: 56%;
        margin-left: -7%;
        margin-top: 202%;
	}
	.lamp {
        position: static;
        width: 48%;
        margin-left: -88%;
        margin-top: -127%;
	}
	.lamp2 {
        position: static;
        width: 39%;
        margin-left: 150%;
        margin-top: -181%;
	}
	.lamp3 {
		display: none;
	}
	.lamp4 {
		display: none;
	}
	.no_name_object {
		display: none;
	}
	.syntesator {
        width: 33%;
        margin-left: 120%;
        margin-top: -25%;
	}
	.wand_left {
		position: static;
		width: 25%;
		margin-left: 15%;
		margin-top: -25%;
	}
	.wand_right {
		position: static;
		width: 25%;
		margin-left: 100%;
		margin-top: -10%;
	}
	.worm_left {
		display: none;
	}
	.worm_right {
		display: none;
	}
	.parallax-window {
		min-height: 580px!important;
	}
	.metal {
		display: none;
	}
	.worms_stage {
		display: none;
	}
}

@media screen and (max-width:359px) and (min-width:320px) {
	.we_will {
		width: 70%;
		margin: 65px auto;
	}
	.bambam {
		position: static;
		width: 90%;
		height: 90%;
		margin: 0 auto;
	}
	.ice {
		width: 18%;
		margin: 77% -82% 0 0;
	}
	.guitar {
		display: none;
	}
	.bag {
		display: none;
	}
	.shampoo {
		display: none;
	}
	.box_w {
		width: 25%;
		margin-left: -60%;
		margin-top: 61%;
	}
	.dozator {
		width: 22%;
		margin-left: 54%;
		margin-top: 67%;
	}
	.lamp {
		position: static;
		width: 25%;
		margin-left: -88%;
		margin-top: -72%;
	}
	.lamp2 {
		position: static;
		width: 25%;
		margin-left: 80%;
		margin-top: -128%;
	}
	.lamp3 {
		display: none;
	}
	.lamp4 {
		display: none;
	}
	.no_name_object {
		display: none;
	}
	.syntesator {
		display: none;
	}
	.wand_left {
		position: static;
		width: 25%;
		margin-left: 15%;
		margin-top: -25%;
	}
	.wand_right {
		position: static;
		width: 25%;
		margin-left: 70%;
		margin-top: -10%;
	}
	.worm_left {
		display: none;
	}
	.worm_right {
		display: none;
	}
	.parallax-window {
		min-height: 480px!important;
	}
	.metal {
		display: none;
	}
	.worms_stage {
		display: none;
	}
}