.additional{
    justify-content: center;
    display: flex;
    background-color: #998E8E;
    padding: 5px;
    opacity: 50%;
    border-radius: 5px;
    background-image: url("trianglify.svg");
}

.location, .temperature, .condition{
    display: flex;
    justify-content: center;
    flex-direction: row;

}

.content{
    padding: 5px;
    margin-right: 10px;
    transition: all .2s ease-in-out;
}
.content:hover {
    transform: scale(1.1);
}

.container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 150px;
    width: 100%;
}
