@import "css/stylename.css" screen;

body {
    font-family: "PFCentroSlabProRegular",sans-serif;
}

nav {
    font-size: 25px;
    font-family: "PFCentroSlabProMedium",sans-serif;
    color: #a3a3a3;
}

nav a {
    color: #a3a3a3;
}

nav .active {
    color: #000;
}

.border-logo {
    border: 2px solid #000;
    padding: 17px 10px;
    font-size: 23px;
}
.container.gallery-container {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    padding: 30px 50px;
}

.gallery-container h1 {
    text-align: center;
    margin-top: 50px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}

.gallery-container p.page-description {
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

.tz-gallery {
    padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
    padding: 0;
}

.tz-gallery .lightbox img {
    width: 100%;
    border-radius: 0;
    position: relative;
}

.tz-gallery .lightbox:before {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -13px;
    margin-left: -13px;
    opacity: 0;
    color: #fff;
    font-size: 26px;
    content: '\e003';
    pointer-events: none;
    z-index: 9000;
    transition: 0.4s;
}
