.navbar-default {
    background-color: #f5f5f5;
}
.navbar-default .navbar-brand {
    color: #02020a;
}
.form-control, input {
    border-width: 0;
}
.inline {
    display: inline-block;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background-color: #f5f5f5;
    border: 1px solid #ecf0f1;
    border-bottom-color: transparent;
    cursor: default;
}
.tab-content>.active {
    background-color: #f5f5f5;
}