.about_goal {
    background: url("../images/icons/about_goal.png") no-repeat center center;
    height: 160px;
}
.about_idea {
    background: url("../images/icons/about_idea.png") no-repeat center center;
    height: 160px;
}
.about_idea_w {
    background: url("../images/icons/about_idea-w.png") no-repeat center center;
    height: 160px;
}
.about_order {
    background: url("../images/icons/about_order.png") no-repeat center center;
    height: 160px;
}
.about_order_w {
    background: url("../images/icons/about_order_w.png") no-repeat center center;
    height: 160px;
}
.about_possibilities {
    background: url("../images/icons/about_possibilities.png") no-repeat center center;
    height: 160px;
}
.saturn-1{
    background: url("../images/icons/saturn-1_8-01.png") no-repeat center center;
    background-size: contain;
    height: 160px;
}
.saturn-2{
    background: url("../images/icons/saturn-13_3-01.png") no-repeat center center;
    height: 160px;
    background-size: contain;
}
.saturn-3{
    background: url("../images/icons/saturn-330-01.png") no-repeat center center;
    height: 160px;
    background-size: contain;
}
.rover {
    background: url("../images/icons/rover.png") no-repeat center center;
    height: 160px;
}
.looking {
    background: url("../images/icons/looking.png") no-repeat center center;
    height: 160px;
}
.rocket {
    background: url("../images/icons/rocket.png") no-repeat center center;
    height: 160px;
}
.join-people {
    background: url("../images/icons/join-people.svg") no-repeat center center;
}