@font-face {
    font-family: "PFCentroSlabProRegular";
    src: url("../fonts/PFCentroSlabProRegular/PFCentroSlabProRegular.eot");
    src: url("../fonts/PFCentroSlabProRegular/PFCentroSlabProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PFCentroSlabProRegular/PFCentroSlabProRegular.woff") format("woff"),
    url("../fonts/PFCentroSlabProRegular/PFCentroSlabProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PFCentroSlabProBold";
    src: url("../fonts/PFCentroSlabProBold/PFCentroSlabProBold.eot");
    src: url("../fonts/PFCentroSlabProBold/PFCentroSlabProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PFCentroSlabProBold/PFCentroSlabProBold.woff") format("woff"),
    url("../fonts/PFCentroSlabProBold/PFCentroSlabProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PFCentroSlabProLigh";
    src: url("../fonts/PFCentroSlabProLight/PFCentroSlabProLight.eot");
    src: url("../fonts/PFCentroSlabProLight/PFCentroSlabProLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PFCentroSlabProLight/PFCentroSlabProLight.woff") format("woff"),
    url("../fonts/PFCentroSlabProLight/PFCentroSlabProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PFCentroSlabProMedium";
    src: url("../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.eot");
    src: url("../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.woff") format("woff"),
    url("../fonts/PFCentroSlabProMedium/PFCentroSlabProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PFCentroSlabProMediumItalic";
    src: url("../fonts/PFCentroSlabProMediumItalic/PFCentroSlabProMediumItalic.eot");
    src: url("../fonts/PFCentroSlabProMediumItalic/PFCentroSlabProMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PFCentroSlabProMediumItalic/PFCentroSlabProMediumItalic.woff") format("woff"),
    url("../fonts/PFCentroSlabProMediumItalic/PFCentroSlabProMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "PFCentroSlabProBoldItalic";
    src: url("../fonts/PFCentroSlabProBoldItalic/PFCentroSlabProBoldItalic.eot");
    src: url("../fonts/PFCentroSlabProBoldItalic/PFCentroSlabProBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/PFCentroSlabProBoldItalic/PFCentroSlabProBoldItalic.woff") format("woff"),
    url("../fonts/PFCentroSlabProBoldItalic/PFCentroSlabProBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}