<!doctype html>
<html lang="en" ng-app="weatherApp">
  <head>
    <meta charset="utf-8">
    <title>Weather App</title>
      <link rel="icon" type="image/x-icon" href="Weather_Icon.png">
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <link rel="stylesheet" type="text/css" href="css/loading-bar.css">
	<script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-animate.js"></script>
    <script src="lib/loading-bar/loading-bar.js"></script>
	<script src="app/app.js"></script>
  </head>
  <body ng-controller="weatherControl">
		<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand">Forecast</a>
        </div>
        <div class="navbar-collapse collapse" id="navbar">
			<form class="navbar-form navbar-right" role="search">
				<div class="form-group">
					<input type="text" class="form-control" ng-model="assetName" ng-change="searchWeather()" placeholder="Enter city name..">
				</div>
				<!--<button type="submit" class="btn btn-info" ng-click="searchWeather()">Submit</button>-->
			</form>
          <ul class="nav navbar-nav">
          </ul>
        </div>
      </div>
    </nav>
		<div role="main" class="container theme-showcase">
      <div class="" style="margin-top:90px;">
				<div class="row">
					<div class="col-sm-12 col-md-12" ng-repeat="item in items" ng-cloak>
						<div class="">
							<div class="media">
								<div class="media-body">
                                    <p class="text-left">{{date |  date: 'EEEE, d MMMM ' }}</p>
                                    <h4 class="media-heading text-center">{{item.name}}, {{item.sys.country}}</h4>
                                    <h2 class="text-center">{{item.main.temp}}°С</h2>
                                    <div class="text-center">
                                        <img class="inline" src="http://openweathermap.org/img/w/{{item.weather[0].icon}}.png" alt="img-weather" style="max-width: 50px;">
                                        <span>{{item.weather[0].main}}, {{item.weather[0].description}}</span>
                                    </div>
                                    <div class="text-center">
                                        <span><b>Pressure</b> {{item.main.pressure}} </span>
                                        <span><b>Humidity</b> {{item.main.humidity}} </span>
                                        <span><b>Wind speed</b> {{item.wind.speed}}m/s </span>
                                        <span><b>Clouds</b> {{item.clouds.all}}% </span>
                                    </div>

                                </div>
							</div>
						</div>
					</div>
                    <div class="col-sm-12" ng-repeat="item in items" ng-cloak>
                        <div class="bs-example bs-example-tabs" data-example-id="togglable-tabs">
                            <ul class="nav nav-tabs" id="tabsWeather16" role="tablist">
                                <li role="presentation" class="">
                                    <a href="#wind" id="wind-tab" role="tab" data-toggle="tab" aria-controls="wind" aria-expanded="false">Wind</a>
                                </li>
                                <li role="presentation" class="active">
                                    <a href="#temperaturee" role="tab" id="temperaturee-tab" data-toggle="tab" aria-controls="temperature" aria-expanded="true">Temperature</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#pressure" role="tab" id="pressure-tab" data-toggle="tab" aria-controls="pressure" aria-expanded="true">Pressure</a>
                                </li>
                                <li role="presentation" class="">
                                    <a href="#humidity" role="tab" id="humidity-tab" data-toggle="tab" aria-controls="humidity" aria-expanded="true">Humidity</a>
                                </li>
                                <!--<li role="presentation" class="dropdown">-->
                                    <!--<a href="#" class="dropdown-toggle" id="myTabDrop1" data-toggle="dropdown" aria-controls="myTabDrop1-contents" aria-expanded="false">Dropdown <span class="caret"></span></a> -->
                                    <!--<ul class="dropdown-menu" aria-labelledby="myTabDrop1" id="myTabDrop1-contents"> <li>-->
                                        <!--<a href="#dropdown1" role="tab" id="dropdown1-tab" data-toggle="tab" aria-controls="dropdown1">@fat</a></li> -->
                                        <!--<li><a href="#dropdown2" role="tab" id="dropdown2-tab" data-toggle="tab" aria-controls="dropdown2">@mdo</a></li> -->
                                    <!--</ul> -->
                                <!--</li> -->
                            </ul>
                            <div class="tab-content" id="TabContentWeather" >
                                <div class="tab-pane fade" role="tabpanel" id="wind" aria-labelledby="wind-tab">
                                    <!--<span> {{totalCount.wind.speed}} </span>-->
                                    <!--<span> {{totalCount.list.wind.speed}} </span>-->
                                </div>
                                <div class="tab-pane fade active in" role="tabpanel" id="temperaturee" aria-labelledby="temperaturee-tab">
                                    <!-- -<span> {{item.main.temp}} </span><br>-->
                                    <!-- -<span> {{totalCount.main.temp}} </span><br>-->
                                    <!-- -<span> {{totalCount.list.main.temp}} </span><br>-->
                                    <!-- -<span> {{totalCount}} </span>-->
                                </div>
                                <div class="tab-pane fade" role="tabpanel" id="pressure" aria-labelledby="pressure-tab">
                                    <!--<span> {{totalCount.list.main.pressure}} </span>-->
                                 </div>
                                <div class="tab-pane fade" role="tabpanel" id="humidity" aria-labelledby="humidity-tab">
                                    <!--<span> {{totalCount.list.main.humidity}} </span>-->
                                </div>
                            </div>
                        </div>
                    </div>

				</div>
      </div>
    </div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
        <script src="node_modules/chart.js/src/chart.js"></script>
    <script src="lib/bootstrap/bootstrap.min.js"></script>
  </body>
</html>